<head>
	<title>Backend Test</title>
	<meta name="description" content="Technical test for Backends">
</head>

<a href="/clearSession">Clear User session</a>

<h1>This is page '{{PAGE_NAME}}'</h1>
<h2>Hello '{{USER_NAME}}'</h2>
